
@model FMS_ICS.Models.User

<h2>Activate User: @Model.FullName</h2>

<style>
    body {
        background: linear-gradient(135deg,#d6bb29,#77aded);
    }
</style>

<form method="post" action="/AdminDashboard/ActivateUser/@Model.UserID">
    @Html.AntiForgeryToken()  <!-- Add the anti-forgery token here -->

    <p>Are you sure you want to activate the user @Model.FullName?</p>
    <button type="submit" class="btn btn-success">Activate User</button>
</form>

